#home{
    display:flex;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 173, 53);
    width: 1750px;
}
.headone{
    width: 911px;
}
.navbar{
    background-color: black;
    width: 1014px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}
.nav-item{
    list-style-type: none;
    padding: 5px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: rgb(233, 173, 53);
    font-size: 20px;
}
a:hover{
    background-color: rgb(233, 173, 53);
    color: black;
    padding: 15px;
}
#home{
    height: 900px;
}
.image{
    width: 500px;
    height: 450px;
    border-radius: 50%;
    background-color: black;
    margin-top: 180px;
    margin-left: 300px;
}
.one{
    background-color: rgb(233, 173, 53);
    height: 900px;
    width: 900px;
}
/* .one>img{
  height: 400px;
  width: 400px;
  margin: 80px;
  text-align: center;
} */
.two{
    background-color: black;
    color: white;
    height: 900px;
    width: 1000px;
    font-size: 40px;
    margin-bottom: 0px;
}    
.two>div{
    margin-top: 150px;
}
.three{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
.three > button{
    margin: 50px;
    background-color: black;
    color: rgb(233, 173, 53);
    margin-bottom: 900px;
    border-radius: 20px rgb(233, 173, 53);
    font-size: 30px;


}
#about{

    height: 900px;
    background-color: black;
    color: white;
    font-size: 40px;
}
.four{
text-align: left;
}
.four>p{
    height: 250px;
}
#about{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    height: 1000px;
}
/* .four>h1,p{
    height: 250px;
} */


.work > img{
margin-bottom: 50px;
height: 600px;
width: 500px;
margin-top: 200px;
border-radius: 15px;
}
#Education{
    background-color: black;
    color: white;
    margin-bottom: 20px auto;
   height: 900px;

}
.ed1{
    display: flex;
    justify-content: space-evenly;
    
}
.me1 > h1{
    margin-top: 0px;
    font-size: 45px;
}
.content-one{
    border: 10px solid rgb(233, 173, 53);
    border-radius: 30px;
    background-color:rgb(233, 173, 53);
    color: white;
    height: 200px;
    width: 600px; 
    margin-top: 100px;
    font-size: 30px;
    text-align: left;
    padding-bottom: 0px auto;
    margin-right: 100px;
    
    
}
.content-one-child{
    display: flex;
    margin-bottom: 0px auto;
}
.icon{
    padding-top: 20px;
    display: flex;
}
.icon>img{
    margin-top: 20px;
}
#skills{
    text-align: center;
    background-color: black;
    height: 850px;
    color: white;
    margin-top: 0px auto;
}
#skills > h1{
    margin-top: 0px;
    padding-top: 90px;
    font-size: 50px;
}
.bx{
    display: flex;
    justify-content: space-evenly;

}
.bx-one{
    margin-top: 110px;
    border: 1px solid rgb(233, 173, 53);
    padding: 30px;
    font-size: 25px;
}
#project{
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 0px auto;
    margin-bottom: 0px auto;
    height: 800px;
}
#project > h1{
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 50px;
}
.pr{
   display: flex;
   justify-content: space-evenly;
}
.bx-two{
    border: 1px solid rgb(233, 173, 53);
    border-radius: 10px;
    background-color: rgb(244, 194, 94);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.bx-one-i{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.bx-one-i>i{
    height: 10px;
    width: 100px;
}
#achievement{
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 0px auto;
    display: flex;
    justify-content: space-evenly;
    height: 900px;
}
#achievement p{
    font-size: 30px;
    padding-top: 80px;
}
.hi{
    margin-top: 0px auto;
    padding-top: 30px;
    color: rgb(244, 194, 94);
    font-size: 50px;
}
.B{
    border: 1px solid rgb(116, 88, 34);
    background-color: rgb(114, 87, 33);
    font-size: 30px;
    height: 300px;
    margin-top: 70px;
    border-radius: 15px;
}
#Services{
    background-color: black;
    color: white;
    font-size: 45px;
    margin-top: 0px auto;
    height: 900px;
    padding: 50px;

}
    
#Services>h1{
    margin: 0px auto;
    padding-top: 40px;
    text-align: center;
    color: rgb(244, 194, 94);
}

.sr{
    display: flex;
    justify-content: space-evenly;
}
.ser-bx{
    margin: 10px;
    background-color:  rgb(244, 194, 94);
    color: white;
    width: 250px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 10px;
}
#contact{
    background-color: black;
    margin-top: 0px auto;
    height: 700px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
#contact>h1{
    color:  rgb(244, 194, 94);
    font-size: 70px;
    text-align: start;
    padding-left: 45px;
    margin-top: 0px;
}
.field_set{
    border-color: rgb(244, 194, 94);
    color: white;
    width: 700px;
    height: 55px;
    border-radius: 15px;
    text-align: start;
    padding-bottom: 10px;
    margin: 50px;
}
legend{
    color: rgb(244, 194, 94);
}
.int{
    border: 0;
    background-color: black;
    color: rgb(244, 194, 94);
    font-size: 25px;
}
.con1{
    padding-bottom: 20px;
}
.information{
     color: black;
     background-color:rgb(244, 194, 94);
     width: 800px;
     height: 450px;
}
.information_child{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    height: 80px;
}
.information_child>i{
    margin: 80px 10px 0px 10px;
    height: 10px;
    padding: 0px;
}
.information_child>p{
    margin: 80px 10px 0px 10px;
    height: 20px;
}




